.form-container {
  label {
    display: block;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  input, select {
    padding: 4px 5px;
    height: 32px;
    border-radius: 3.01px;
    border: 1px solid #ccc;
  }

  input {
    min-width: 400px;
  }

  select {
    width: auto;
    max-width: 35%;
  }

  select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
  }
}

.error {
  border-color: red !important;
}



