.navbar {
  box-shadow: 0 3px 2px -2px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: white;
  position: relative;
  
  span {
    font-size: 1.2rem;
  }
}
