.sidenav--btn {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  z-index: 10;
  font-weight: 400;
  padding: .15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;

  i {
    margin-right: 0 !important;
  }
}