.btn {
  height: 40px;
  color: $blue-grey;
  background: $grey;
  width: auto;
  margin: 0;
  padding: 0 12px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .material-icons {
    font-size: 1rem;
  }
}

button:disabled {
  background-color: $dark-grey;
  color: $grey;
}

button:disabled:hover {
  background-color: $dark-grey !important;
  color: $grey !important;
}

.btn-primary {
  background-color: $deep-blue;
  color: $white;
  padding: 0 8px; 
  height: 35px;
}

.btn-primary:hover {
  background-color: $blue;
}

.sidenav--btn {
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
  color: $white;
}
