.app--container {
  height: 100%;
}

.main-content--container,
.main-content__button-area,
.main-content__form-container {
  display: flex;
  flex-direction: column;
}

.main-content__form-container,
.main-content__form--button-area {
  max-width: 400px;
}

.main-content__form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.main-content--container {
  height: calc(100% - 45px);
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;

  .main-content__titles {
    flex: .25;
  }

  .main-content__button-area {
    display: flex;
    align-content: center;
    text-align: center;
    width: auto;
    margin-bottom: 1rem;
    justify-content: flex-start;
  }

  .main-content--content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .main-content__form--button-area {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.main-content__form-container {
  margin-bottom: 1rem;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.react-bootstrap-table {
  width: 100%;
}








