.form--input__container {
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;

  input, select {
    background-color: $grey;
  }

  input {
    min-width: 400px;
  }

  select:after {
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}

label {
  font-size: 11px;
  font-weight: 600;
  color: $dark-grey;
  margin-bottom: .5rem;
}



