.form--input__container {
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
  justify-content: center;

  label {
    font-size: 11px;
    font-weight: 600;
    color: $dark-grey;
  }

  input, select {
    background-color: $grey;
  }

  input {
    min-width: 400px;
  }

  select:after {
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
}



