@import "../modules/spacing";
@import "../modules/colors";

.navbar {
  padding: $header-padding;
  background: $deep-blue;
  position: relative;
  box-shadow: 0 3px 2px -2px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  color: white;

  span {
    padding-left: 1rem;
    font-size: 1.2rem;
  }
}