.profile__header {
  flex: 0.25;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile--info-area {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.profile--info-area__info {
  width: 33.33%;
  height: 5rem;
  margin-bottom: 1.5rem;

  .info__name {
    margin-bottom: .75rem;
  }

  .info__value {
    font-size: .9rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 1000px) {
  .profile--info-area__info {
    width: 50% !important;
    margin-bottom: 1rem;
    max-width: 800px;
    align-items: center;
  }
}  

@media screen and (max-width: 550px) {
  .profile--info-area__info {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}