@import "../modules/colors";

.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

  .sidenav--list {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    .sidenav--list--item {
      display: flex;
      align-items: center;
      padding: .75rem 1rem;
    }
  }
}



.sidenav--list--item, 
.sidenav {
  background-color: $grey;
}

.material-icons {
  margin-right: 8px;
}

/* Side navigation button */
.sidenav--btn {
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  z-index: 10;
  color: $white;
  font-weight: 400;
  padding: .15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;

  i {
    margin-right: 0 !important;
  }
}
