@import "modules/all";

// Body defaults
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

// Main Content
.main-content--title {
  font-size: $page-title;
  margin-top: 3rem;
  margin-bottom: 3rem;
}