@import "modules/all";

h1 {
  font-size: $page-title;
}

h2 {
  font-size: $page-title;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

// Body defaults
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

// Main Content

.title {
  font-size: $page-title;
}

.stepper {
  color: $blue-grey;
  font-size: $page-stepper;
}

// Profile Page

.info__name {
  color: $blue-grey;
}

