.form,
.button-area,
.form-container,
.form--button-area,
.form-container {
  display: flex;
}

.form,
.button-area,
.form-container {
  flex-direction: column;
}

.form-container,
.form--button-area {
  max-width: 400px;
}

.form-container {
  margin-bottom: 1rem;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form--button-area {
  justify-content: flex-end;
}
