
.content--profile__name,
.content--profile__details {
  width: 100%;
  height: 100%;
  display: flex;
}

.content--profile__name {
  flex: 0.25;
  align-items: center;
}

.content--profile__details {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.left-side {
  flex: 0.35;
}

.right-side {
  flex: 1;
}