$grey: rgb(244, 245, 247);
$dark-grey: #5e6c84;
$space-grey: #fafbfe;
$blue-grey: rgb(80, 95, 121);
$light-grey: rgba(9, 30, 66, 0.04);

$white: #fff;
$deep-blue: #0052cc;
$blue: #0984e3;




$active-link: $deep-blue;