/* Styling positions and layouts */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 90vh;
}

.app-container {
  height: 100%;
}

/* sidenav and main content transition when page moves  */
.main-content,
.sidenav {
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Styling for side navs */

a{
  color: rgb(67, 82, 109) !important;
}

a.active {
  background-color: rgb(234, 236, 254) !important;
  color: rgb(0, 82, 204) !important;
  border: none;
}

.list-group-item {
  border: none !important;
}