* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 90vh;
}

.app-container {
  height: 100%;
}

.main-content,
.sidenav {
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}